# Carpetas de archivos de caché y entornos virtuales
__pycache__/
.venv/
data/
models/
j_conv_pontryagin_completo_con_anexos.md
.aiexclude
bayes*
best*
training_log*
datasets/*
datasets
segcam_outputs/*
segcam_outputs*
results
*.ipynb
run_experiments_unet_hybrid_v*
logs_training*
clscam_outputs*