numpy # Required by torch, torchvision
sympy # Required by torch
MarkupSafe # Required by Jinja2
networkx # Required by torchvision
Pillow # Required by torchvision
scikit-learn # Required by scikit-optimize
scikit-optimize # For Bayesian Optimization
tqdm # Progress bar
typing_extensions # Required by torch
pandas # For data manipulation
matplotlib # For plotting
torch # Core deep learning library
torchvision # Datasets, models, and transforms for vision